/.vscode
/Function.cpp
/Function.exe
/helloworld.cpp
/helloworld.exe
/ideone_bBEByX.cpp
/min_max1.cpp
/min_max2.cpp
/Paasin with referance.cpp
/Practice1.cpp
/Sum of elements.cpp
/Sum of elements.exe
/Twosum.cpp
/Twosum.exe
/union_set.cpp
/universal_set.cpp
/Variables.cpp
/Variables.exe